 @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
html{
	scroll-behavior: smooth;
}
.dropdown{
	display: flex;
	text-align: right;
}
.logo{
	font-family: 'Acme', sans-serif;
}
.section{
	padding: 1rem 0;
}
.heading{
	color: #000;
}
.owl-carousel.major-carousel .owl-stage-outer{
	padding-top: 3px;
	padding-bottom: 3px;
}
.owl-carousel.major-carousel .owl-nav .owl-prev,
.owl-carousel.major-carousel .owl-nav .owl-next{
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color:rgba(0, 0, 0, 0.3);
	font-size: 3rem;
}
.owl-carousel.major-carousel .owl-nav .owl-prev:hover,
.owl-carousel.major-carousel .owl-nav .owl-prev:focus,
.owl-carousel.major-carousel .owl-nav .owl-next:hover,
.owl-carousel.major-carousel .owl-nav .owl-next:focus {
	color: crimson;
	outline: none;
}
.owl-carousel.major-carousel .owl-nav .owl-prev.disabled,
.owl-carousel.major-carousel .owl-nav .owl-next.disabled {
	color: yellow;
}
.owl-carousel.major-carousel .owl-nav .owl-prev {
	position: relative;
	left: 0px;
}
.owl-carousel.major-carousel .owl-nav .owl-next {
	position: relative;
	right: 0px;
}
.media-custom{
	background: #fff;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	margin-bottom: 1.5rem;
	position: relative;
	top: 0;
}
.media-custom > a{
	position: relative;
	overflow: hidden;
	display: block;
}
.media-custom img{
	height: 20rem;
	object-fit: cover;
	border-radius: 5px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}
.media-custom:focus,.media-custom:hover{
	-webkit-box-shadow:0 2px 0px 0 rgba(0,0,0,0.3);
	box-shadow:0 2px 0px 0 rgba(0, 0, 0,0.3);
	border-radius: 5px;
}
.media-custom:focus img,.media-custom:hover img{
	-webkit-transform:scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	border-radius: 5px;
}
.post-container{
	margin-top:-2rem;
	background: ghostwhite;
}
.post-heading h1{
	font-family: 'Baloo 2',sans-serif;
	font-size: 25px;
	margin:2rem .5rem;
}
.post-container .post{
	width: 20rem;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0,0.3);
	margin:2rem auto;
}
.post-container .post .images img{
    height: 15rem;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    object-fit: cover;
}
.post-container .post .content{
	padding: 0px 8px;
}
.post-container .post .content .date{
	margin: 10px 1px;
}
.post-container .post .content a{
	margin: 3px;
}
/*styling for plus dropdown start*/

/*styling for plus dropdown end*/
